{% extends 'layout.html' %}
{% load static %} 

{% block title %}
    Register a new user
{% endblock  %}

{% block customStyle %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock customStyle %}

{% block content %}
    <h1>
        Register a New User
    </h1>
    <form 
        action="/users/register/" 
        method="post"
        class="register-form"
    >
        {% csrf_token %}

        {{ form }}

        <button>
            Submit
        </button>

    </form>
{% endblock %}