{% extends "layout.html" %}
{% load static %} 
{% load article_column_filter %}

{% block customJs %}
    <script src="{% static 'js/collection_update.js' %}" defer ></script>
{% endblock customJs %}

{% block customStyle %}
    <link rel="stylesheet" href="{% static 'css/collection_update.css' %}">
{% endblock customStyle %}

{% block title %}
    
{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="mb-0">{{ collection.coleoncore.title }}</h1>
        <form id="add-article-form" method="post" action="" >
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">+ Add Article</button>
        </form>
    </div>
    
    <table class="table table-striped" id="collection_table">
            <thead>
                <tr>
                    {% for col_name in collection.columns %}
                        <th>{{ col_name|capfirst }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for article in collection.articles %}
                    {% include "_article_row.html" with article=article columns=collection.columns %}
                {% endfor %}
            </tbody>
    </table>
    




</div>
{% endblock %}
